<div class="c">  
  <div class="container">
    <h1>TODOS</h1>

    <div class="task">
      <%= form_with model: @task, local: true do |form| %>
        <div>
          <%= form.text_field :title, placeholder: "Enter task name" %>
          <%= form.collection_select :category_id, Category.all, :id, :name, prompt: 'Select a category' %>
          <%= form.submit 'Create Todo' %>
        </div>
      <% end %>
    </div>  

    <div data-controller="task">
      <div class="taskcon" data-action="turbo:submit-end->task#reload">
        <ul>
          <% @tasks.each do |task| %>
            <%= render partial: "tasks/task", locals: { task: task } %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
