<div class="c">
  <div class="container">
    <h1>TODOS</h1>

    <!-- Tabs -->
    <div>
        <button>Incomplete</button>
        <button>Complete</button>
    </div>
    
    <div class="task">
      <!-- Form for adding task -->
      <%= form_with model: @task, local: true do |form| %>
          <div>
            <%= form.text_field :title, id: "task_name", placeholder: "Enter task name" %>
            <%= form.submit 'Create Todo' %>
          </div>
      <% end %>
    </div>  

    <!-- Task List -->
    <div class = taskcon>
      <% @tasks.each do |task| %>
        <li>
          <span><%= task.title %></span>
          
          <!-- Button to mark task as complete -->
          <%= link_to '✔️', complete_task_path(task), method: :patch, class: 'task-button' %>

          <!-- Button to delete task -->
          <%= link_to '❌', task_path(task), method: :delete, class: 'task-button' %>
        </li>
      <% end %>
    </div>
  </div>
</div>
